doctype html
html
  head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
        link(href="/style/main.css" rel="stylesheet" type="text/css")
        title=Reddit
  body
    header#header.shadow.bg-light
      .container
        .row
          .col-2
            img.img-fluid(src='https://logodownload.org/wp-content/uploads/2018/02/reddit-logo.png' alt='')
          .col-8
            input.search-box(type='search' placeholder='Search' aria-label='Search')
          .col
            .btn.rounded-pill(role='group' aria-label='Outline example')
              form(method="POST" action="/logout")
                input.btn.btn-primary(type="submit" value="Log Out")
    each i in article
      ul.nav.nav-pills.justify-content-center
        li.nav-item
          a.name_article(href="/"+i.id class=categoryActive && categoryActive.id === i.id ? "active" : "")=i.name
          a.content_article.nav-link(href="/"+i.id class=categoryActive && categoryActive.id === i.id ? "active" : "")=i.content

                  
                
                  
                  
